

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.mainImage {
  margin-top: 7vh;
  height: 75vh;
}

.mainBody{
  margin-left: 14vw;
}
.body1 {
  text-align: left;
  color: var(--gray-gray-900, #1a202c);
  font-family: "Inter", sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 4vw;
}

.body2 {
  color: var(--gray-gray-700, #4a5568);
  /* Paragraphs/default-lg */
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: bold;
  line-height: 2.5vw; /* 200% */
  margin-bottom: 6vh;
}

.Plan {
  background: linear-gradient(180deg, #de4396 0%, rgba(13, 28, 159, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: auto;
  font-style: normal;
  font-weight: 700;
}

.Review {
  background: linear-gradient(225deg, #f7666f 0%, #406aff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: auto;
  font-style: normal;
  font-weight: 800;

}



.startButton {

  width: 31vw;
  height: 8vh;

  justify-content: center;
  align-items: center;


  border-radius: 0.5vw;
  background: #3d63ea;

  /* Btn-Shadow */


  color: var(--gray-gray-50, #fafafa);
  font-family: "Inter", sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 700;

}
