.side {
    justify-content: flex-start; /* 중앙에서 상단으로 변경 */
    display: flex;
    border-right: 1px solid #e0e0e0;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.menu {
    line-height: 2; /* 줄 간격 추가 */
    margin-top: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
}

.link {
    color: gray;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    cursor: pointer;
    color: #3d3e48;
}

.activeLink {
    transition: color 0.3s ease;
    text-decoration: none;
    color: #1daeff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}