.body {
  margin: 5vh 1vw;
}

.container {
  width: 40vw;
  margin: 0px auto;
  font-family: "Poppins", sans-serif;
}

.image {
  display: block;
  text-align: center;
}

.input {
  font-family: 'Nanum Gothic', sans-serif;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #592fff;
  
  border-radius: 5px;

}

.name {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 600;
}

.form {
  display: block;
  margin: 10px auto;
}

.button {
  display: flex;
  width: 100%;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 15px;
  border: 0px;
  background-color: #592fff;

  margin-top: 20px;

  color: #fff;

  text-align: center;
  font-family: "Poppins";
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%; /* 57.6px */
}

.button:hover {
  background-color: #3d1cbe;
  cursor: pointer;
}
