.navbar {
  background-color: #e9efef;
  height: 80px;
  justify-content: normal;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  margin-left: 5vw;
  margin-right: 5vw;
}
.logo {
  margin-top: 0;
  margin-right: 10px;
  width: auto;
  height: 20px;
}
.navbar-logo {
  color: #4a5568;
  justify-content: start;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, 10vw);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: start;
  margin-right: 2rem;
}

/*  font-family: 'Caveat', cursive;  */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
.nav-item {
  height: auto;
  color: #4a5568;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}



.navbar-button {
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  border-color: #1daeff;
  border-radius: 10px;

  color: #1daeff;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 225% */
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.nav-btn {
  text-align: end;
}