.navbar {
  display: grid;
  align-items: center;
  background-color: #e9efef;
  height: 10vh;
  font-size: 1.2vw;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: grid;
  grid-template-columns: 9.5vw auto 8vw;
  align-items: center;
  height: auto;
  margin-left: 5vw;
  margin-right: 5vw;
}
.logo {
  margin-right: 0.5vw;
  width: auto;
  height: 1.5vw;
}
.navbar-logo {
  color: #4a5568;
  justify-content: start;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Caveat';
  font-size: 2vw;
  display: flex;
  align-items: center;

}

.nav-menu {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  list-style: none;
  text-align: center;
}

/*  font-family: 'Caveat', cursive;  */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
.nav-item {
  color: #4a5568;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.nav-btn{
  text-align: end;
}

.navbar-button {
  width: 8vw;
  height: 5vh;
  background-color: #ffffff;
  border-color: #1daeff;
  border-radius: 0.5vw;
  font-size: 1vw;
  color: #1daeff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.3vw;
  text-transform: uppercase;
}