.main {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.body {
  display: grid;
  grid-template-columns: 280px auto;
}

.mapSection{
  display: grid;
  grid-template-columns: 21.5vw auto;

}
.searchSection {
  max-height: 740px;
  overflow-y: scroll;
  margin-right: 1.3vw;
}
.searchSection::-webkit-scrollbar {
  display: none;
}

.searchResult {
  display: flex;
  min-height: 100px;
  margin-bottom: 10px;
  background-color: rgb(249, 249, 235);
  border: gray solid;
  border-radius: 3px 3px 3px 3px;

}
.markerNumber {
  display: block;
}
.searchItem{
  width: 330px; 
  display: flex;
}

.locationInfo {
  margin-left: 5px;

}

.locationAddress {
  font-size: 13px;
  overflow-x: 'scroll'; 
  white-space: 'nowrap'; 
}
.locationPhone {
  font-size: 12px;
}

.inputForm {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20.23vw;
  display: flex;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
}
.searchInput {
  display: flex;
  overflow: auto;
  border: none;
  justify-content: center;
  width: 20.23vw;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.searchInput:focus{
  outline: none;
  text-align: left;
}
.searchIcon{
  width: 24px;
  opacity: 50%;
  margin-right: 10px;
}