.travelList{
  color: #000;
  min-height: 740px;
  max-height: 740px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Inter", sans-serif;
  justify-content: center;
  overflow-y: auto;
  margin-right: 1vw;
}
.travelList::-webkit-scrollbar {
  display: none;
}
.listIcon{
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  width:20px;
  height:20px;
}


.travelLocations{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40px auto 32px;
  align-items: center;
  margin-bottom: 15px;
}

.locationName{
  text-align: left;
  font-size: 18px;

}

.travelLocations > .deleteIcon{
  justify-content: end;
  margin: 0;
  width:28px;
  height:24px;
}

.noLocations {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemEnter {
  opacity: 0;
  transform: translateX(-100%);
}

.itemEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

